<div class="container">
  <h1>Create Booking Request</h1>
  <div class="boat-info">
    <h2>Boat:</h2>
    <%= image_tag ("http://placehold.it/220x220") %>
    <ul>
      <li><%= @booking.boat.name %></li>
      <li><%= @booking.boat.capacity %></li>
      <li><%= @booking.boat.category %></li>
      <li><%= @booking.boat.city %></li>
      <li><%= @booking.boat.address %></li>
    </ul>

  </div>
  <div class="owner-info">
    <h2>Host:</h2>
    <%= image_tag ("http://placehold.it/220x220") %>
    <ul>
      <li><%= @booking.boat.user.full_name %></li>
      <li><%= @booking.boat.user.bio %></li>
    </ul>
  </div>
  <div class="dates-and-price">
    <%= render 'form' %>
    <!-- use js to dynamically calculate price based on chosen dates -->
    <h3>Price: <%= (7 * @booking.boat.price) %></h3>
  </div>
</div>
