<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <%= image_tag ("http://placehold.it/220x220") %>
      <h4><%= @user.first_name + " " + @user.last_name %></h4>

    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="user-bio">
        <h2><%= @user.first_name + " " + @user.last_name %></h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iste beatae odit omnis minima sit perferendis nostrum, aspernatur enim laboriosam cum sed, soluta qui quis vero inventore corporis reprehenderit temporibus."</p>
      </div>
      <div class="user-listings">
        <h3>My Boats</h3>
      <div class="row">
        <% @user.boats.each do |boat| %>
          <div class="col-lg-3">
            <%= image_tag ("http://placehold.it/100x100") %>
            <p><%= boat.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
