<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <%= image_tag (@user.profile_img) %>
      <h4><%= @user.full_name %></h4>

    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="user-bio">
        <h2><%= @user.full_name %></h2>
        <p><%= @user.bio %></p>
      </div>
      <div class="user-listings">
        <h3>My Boats</h3>
      <div class="row">
        <% @user.boats.each do |boat| %>
          <div class="col-lg-3">
            <%= image_tag (boat.photo) %>
            <p><%= boat.name %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
