<!-- USING BOOTSTRAP TABS! NOT LEWAGON TABS! -->
<div>
  <div class="tab-container">
    <!-- Nav tabs -->
    <div class="responsive">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
        <li role="presentation"><a href="#my-listings" aria-controls="profile" role="tab" data-toggle="tab">My Boats</a></li>
        <li role="presentation"><a href="#my-voyages" aria-controls="messages" role="tab" data-toggle="tab">My Voyages</a></li>
        <li role="presentation"><a href="#profile" aria-controls="settings" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#requests" aria-controls="settings" role="tab" data-toggle="tab">Requests</a></li>
      </ul>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">

<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane active" id="dashboard">
      <div class="space-top">
        <div class="container">
          <div class="row">
            <div class="dash-body col-md-3">
              <div class="panel">
                <div class="panel-image profile-photo">
                  <!-- ADD PICTURE HERE -->
                  <%= cl_image_tag @user.profile_img, height: 300, width: 400, crop: :fill %>
                  <!-- ADD PICTURE HERE -->
                  <div class="upload-profile-pic btn btn-contrast btn-block text-wrap">
                    <%= simple_form_for(@user) do |f| %>
                      <%= f.input :profile_img %>
                      <%= f.input :profile_img_cache, as: :hidden %>
                      <%= f.submit %>
                    <% end %>
                    <!-- ADD PHOTO HERE! link to shit -->
                    <i class="fa fa-camera icon" aria-hidden="true"></i>

                    Add a Photo
                  </div>
                </div>
                <div class="panel-body">
                  <h2 class="text-center"><%= @user.full_name %></h2>
                  <ul class="list-unstyled text-center">
                    <li><%= link_to "View Profile", user_path(@user) %></li>
                    <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
                  </ul>
                </div>
              </div>
              <div class="panel text-center">
                <div class="panel-header">Verified Information</div>
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <li><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="dash-aside col-md-9">
              <div class="panel">
                <div class="panel-header" id="notification">
                  Notification
                </div>
                <div class="panel-body">
                  <p>Maybe can be a list of notifications</p>
                </div>
              </div>
              <div class="panel">
                <div class="panel-header" id="notification">
                  Messages
                </div>
                <div class="panel-body">
                  <p>You can see your notifications here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane" id="my-listings">
      <div class="space-top">
        <div class="container">
          <div class="row">
            <div class="dash-body col-md-2">
              <ul class="sidenav-list">
                <li><%= link_to "Your Listings", user_path(@user), class: "sidenav-item" %></li>
                <h2>Your Listings</h2>
                <div class="space-top">
                  <%= link_to "Add New Listing", new_boat_path(@user), class: "btn btn-addlist" %>
                </div>
              </ul>
            </div>
            <div class="dash-aside col-md-10">

              <% if !@user.boats %>
              <div class="space-1 h3">
                Ah, it seems you have no Boats listed yet.GET BACK HERE AND ADD A BOAT YOU SCRUB!
              </div>
              <% end %>

                <% @boats.each do |boat| %>
                <div class="row panel">
                  <div class="col-md-3 pad-12">
                    <div class="panel-image boat-background middle" style= "background-image: linear-gradient(-225deg, rgba(0,78,55,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path('bananaboat') %>')">
                    </div>
                  </div>
                  <div class="col-md-7 pad-12">
                    <div>
                      <h3 id="title" class="marg-bot-5"><%= boat.name %> - <%= boat.city %></h3>
                      <hr id="line-more-top">
                      <p><%= boat.category %> - Capacity: <%= boat.capacity %> - Price: <%= boat.price %>€</p>
                      <p style="opacity: 0.7"><%= boat.description %></p>
                    </div>
                  </div>
                  <div class="col-md-2 text-center">
                    <div class="pad-top-6"><%= link_to "Show", boat_path(@user), class: "btn btn-listing" %></div>
                    <div class="pad-top-6"><%= link_to "Edit", edit_boat_path(@user), class: "btn btn-listing" %></div>
                  </div>
                </div>
                <% end %>
              <div class="space-top">
                <%= link_to "Add New Listing", new_boat_path(@user), class: "btn btn-addlist" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane" id="my-voyages">
      <div class="container">
        <div class="row">
          <div class="col-md-12 space"><h2>Your Voyages</h2></div>
          <% @bookings.each do |booking| %>
          <div class="dash-body col-md-4">
            <div class="panel">
              <div class="panel-image boat-background big" style= "background-image: linear-gradient(-225deg, rgba(0,78,55,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path('bananaboat') %>')">
                <div class="text-center pos-abs avatar-position"><%= image_tag ("https://cms-assets.tutsplus.com/uploads/users/107/posts/25507/image/38-flat-professions-avatars-icons.jpg"), class: "avatar-large-bordered" %>
                </div>
              </div>

              <div class="panel-body text-center">
                <h2 id="title"><%= booking.boat.city %></h2>
                <div>
                  <p><%= booking.check_in %> - <%= booking.check_out %></p>
                  <p style="opacity: 0.7"><%= booking.boat.description %></p>
                </div>
                <hr size="10">
                <div class="review"><%= link_to "View Receipt", boat_path(booking.boat_id) %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>


<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE!-->
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>My beautiful Profile</h1>
          </div>
        </div>
      </div>
    </div>

<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE!-->
    <div role="tabpanel" class="tab-pane" id="requests">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Work on this Alex</h1>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


