
<%= simple_form_for [@boat, @booking], url: new_boat_booking_path(@boat), method: :get do |f| %>
<div class="form-date-picker">
  <div class="input-daterange input-group" id="datepicker">
    <%= f.input :check_in, as: :string, input_html: { class: "input-sm form-control", id: "check_in"}%>
    <span class="input-group-addon">to</span>
    <%= f.input :check_out, as: :string, input_html: { class: "input-sm form-control", id: "check_out"}%>
  </div>
  <p id="price" >Price: </p>
  <%= f.button :submit, 'Request to Book',  class: "btn btn-primary"  %>
<% end %>


<% content_for(:after_js) do %>
  <script>
  $(document).ready(function() {

    $('.input-daterange').datepicker();


    $('.input-sm').change(function() {
      var check_in = new Date($('#check_in').val());
      var check_out = new Date($('#check_out').val());
      var price_day = <%= @boat.price %>
      $('#price').text( 'Price:' + (((check_out - check_in) / 1000 / 60 / 24 ) * price_day));
    });


  });
  </script>
<% end %>
