<h2>Add a new boat</h2>
<%= simple_form_for(@boat) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.input :category, priority: [ "Shrimp Boat" ], collection: ["Fishing Boat", "Sail Boat", "Canoe", "Speed Boat", "Yacht", "Houseboat", "Banana Boat", "Kayak", "Life Boat", "Pirate Ship", "Shrimp Boat", "Tug Boat"] %>

  <%= f.label :capacity %>
  <%= f.text_field :capacity %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.input :photo %>

  <%= f.button :submit %>
<% end %>
