<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="boat-form">
    <div class="row">
      <div class="col-lg-12 boat-form-header">
        <h2>become a boat</h2>
      </div>
    </div>
    <%= simple_form_for(@boat) do |f| %>

    <div class="form-group form-inline">

    <%= f.text_field :name, placeholder: 'name', label:false %>

    <%= f.text_field :description, placeholder: 'description', label:false %>

    <%= f.input :category, priority: [ "Shrimp Boat" ], collection: ["Fishing Boat", "Sail Boat", "Canoe", "Speed Boat", "Yacht", "Houseboat", "Banana Boat", "Kayak", "Life Boat", "Pirate Ship", "Shrimp Boat", "Tug Boat"], prompt: 'category', label:false %>

    </div>

    <%= f.text_field :capacity, placeholder: 'capacity', label:false %>

    <%= f.text_field :price, placeholder: 'price', label:false %>

    <%= f.text_field :city, placeholder: 'city', label:false %>

    <%= f.text_field :address, placeholder: 'address', label:false %>
    <%= f.input :photo %>


    <%= f.button :submit, 'submit boat', class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
