<div class="boat-container">
  <% image_path = @boat.photo %>
  <div class="boat-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.45) 0%, rgba(0,36,61,0.45) 50%), url( <%= asset_path 'sailboat.jpg' %>);">
    <div class="banner-content">
      <h3><%= @boat.name %></h3>
      <p><%= @boat.city %></p>
    </div>
  </div>

  <div class="container boat-content">

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h2><%= @boat.name %></h2>
      <ul class="list-inline">
        <li><%= @boat.city %></li>
        <li><%= @boat.category %></li>
      </ul>
      <p><%= @boat.description %></p>
    </div>

    <div class="col-sm-12 col-md-3 col-md-offset-1 boat-table text-center">
      <%= render 'booking_form' %>

    </div>
  </div>
</div>
