
<% image_path = @boat.photo %>
<div class="boat-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.45) 0%, rgba(0,36,61,0.45) 50%), url( <%= image_path %>);">
  <div class="banner-content">
    <h3><%= @boat.name %></h3>
    <p><%= @boat.city %></p>
  </div>
</div>


<div class="container">
  <h2><%= @boat.name %></h2>
  <ul>
    <li><%= @boat.city %></li>
    <li><%= @boat.category %></li>
  </ul>
  <p><%= @boat.description %></p>

  <table>
    <thead>
      <td><%= @boat.price %></td>
    </thead>
    <tbody>
      <tr>
        <td>"start date"</td>
      </tr>
      <tr>
        <td>"end date"</td>
      </tr>
      <tr>
        <td>"TOTAL PRICE"</td>
      </tr>
      <tr>
        <td><%= link_to 'book now', new_boat_booking_path(@boat), class: 'btn' %></td>
      </tr>
    </tbody>
  </table>


</div>
